<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
  
  <%- include('partials/navbar', {page: '/about'}) %>

  <div class="container mx-auto">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>

          <p class="py-6">Everything you want to know about me - the designer &amp; developer.</p>

        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img src="https://gdb.rferl.org/2CF392CF-BBCA-48AE-B9A8-1FDA83DADC72_w1023_r1_s.jpg" class="max-w-sm rounded-lg shadow-2xl" alt="Seneca College Food Hall" />
      </div>
      <div class="prose">

        <p>Everything you want to know about me</p>

        <p>My name is Aaron Herrlich Canhadi currently studying at Seneca College. I enrolled in Computer Programming. I'm learning how to code, web development, etc. Hopefully, these many sleepless nights and programming mistakes will allow me to become a better programmer and not ends up in an asylum.</p>

      </div>

    </div>

  </div>
</body>

</html>